*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(41, 41, 41);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/fondo-bs.jpeg);

    background-attachment: fixed;
}

#foto_nombre{
    margin: 100px auto 40px;
}

#foto_nombre img{
    text-align: center;
    border-radius:50%;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
    box-shadow: 5px 5px 5px black;
}

h1{
    text-align: center;
    margin: 0;
    margin-top: -40px;
    font-size: 50px;
    color:white;
    text-shadow: 5px 5px 5px black;
}

main{
    margin: 20px 90px 50px 90px;
    border-radius: 12px;

    background: rgb(0 0 0 / 20%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.8);

    text-align: center;
}

nav ul{
    background: rgb(0 0 0 / 70%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    display: flex;

    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    margin: 0;
    padding-left: 0;
}

.espacio_de{
    padding-right: 3%;
}

nav a{
    list-style-type: none;

    padding: 20px 20px 20px 20px;

    transition : 200ms;
    transform: translateY(0);
    cursor: pointer;
}

nav a:hover{
    background: linear-gradient(to right,rgba(41, 41, 41, 0.3) ,rgba(46, 46, 46, 0.5));
    background-color: rgba(46, 46, 46, 0.5);
}

nav a:active{
    transform: scale(0.95);
}

a{
    color:rgb(216, 216, 216);
}

h2, p, nav a{
    color:white;
}

section h2{
    margin-top: 60px;
    margin-bottom: 20px;
}

section p{
    margin: 0 10%;
}

section ul li{
    color:white;
    list-style-position: inside;
    margin-left: -40px;
}

#exp_laboral{
    margin-bottom: 40px;
}


@media screen and (max-width: 767px) {
    main{
        margin: 20px 20px 50px 20px;
    }
    
    nav li{
        display: list-item;
        padding: 0;
    }

    .icon{
        color:white;
        font-size: 25px;
        padding: 28.5px 5% 28.5px 5%;
        margin: 0 2% 0 2%;
    }

    .text-nav{
        display:none !important;
    }
}

@media screen and (min-width: 768px) {
    .icon{
        display:none !important;
    }
    nav i{
        display:none !important;
    }
}